.container {
    width: 500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    height:300px;
}
.container h2 {
    font-size: 22px;
    color: #eeeeee9c;
    padding: 5px;
}

.container a {
    text-decoration: none;
    width: 200px;
    background-color: transparent;
    color: #eee;
    text-align: start;
    border: none;
    border-bottom: 1px solid #eee;
    height: 30px;
}

.container a:hover {
    background-color: transparent;
    border: none;
    color: rgba(127, 255, 212, 0.618);
}


.container img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 230px;
    height: 330px;
}
@media (max-width:700px) {
    .container {
        width: 100%;
}
.container h2, a {
    margin: 0 auto;
    width: 90%;
}
.container a{
    margin-top: 30px;
}
.container img {
    width: 40%;
    height: 220px;
    margin: 0 auto;
    cursor:pointer;
    animation: clear 2.5s  infinite ease-in-out;
}
}